.paperStyleFP {
  padding: 10px 20px 100px 20px;
  margin: 20px auto;
  border-radius: 10px !important;
  width: 450px;
  min-width: 100px;
  height: 50vh;
}

.fontDesign {
  font-weight: 400;
}

.buttonStyle1 {
  margin: 15px 0px !important;
  width: 50px !important;
  float: right;
}

.buttonStyle11 {
  margin: 20px 0px 15px !important;
}

.textDecoration:hover {
  color: blue;
}

.textDecoration {
  text-decoration: unset !important;
}
