.paperStyleFP {
  padding: 10px 20px 100px 20px;
  margin: 20px auto;
  border-radius: 10px !important;
  width: 450px;
  min-width: 100px;
  height: 80vh;
}

.fontDesign {
  font-weight: 400;
}

.buttonStyle1 {
  margin: 15px 0px !important;
  width: 100px !important;
  float: right;
}
