.noteBlock {
  width: 300px;
  min-height: 120px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #d3d3d3 solid 1px;
  border-radius: 8px;
  margin: 1%;
}
.optionContainer {
  height: 30px;
}
.inputBlock {
  display: flex;
  flex-direction: column;
}
.noteOption {
  display: none;
  cursor: pointer;
}
.noteBlock:hover .noteOption {
  display: block;
}
.displayText {
  font-size: large;
  margin: 3px 4px 4px 4px;
}
.AllNotes {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
}

.addnoteNone {
  display: none;
}
@media only screen and (max-width: 615px) {
  .noteBlock {
    width: 100%;
  }
}
