.addNotesMain {
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    2px 4px 6px 4px rgba(60, 64, 67, 0.149);
  border-radius: 10px;
}

.notesField {
  display: flex;
  flex-direction: column;
  padding: 7px 15px 0px 15px;
  width: 100%;
}
.noteInput {
  display: flex;
  align-items: center;
  padding: 7px 15px 7px 15px;
}

.simpleNoteShow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addNoteOptions {
  display: flex;
  flex-direction: row;
  padding: 0px 15px 7px 15px;
  justify-content: space-between;
  align-items: center;
}
.closeNotes {
  padding: 10px 10px 10px 10px;
  font-size: 10px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}
.closeNotes:hover {
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 715px) {
  .addNotesMain {
    width: 100%;
  }
}
@media only screen and (max-width: 455px) {
  .noteInput {
    width: 45%;
  }
}
@media only screen and (max-width: 400px) {
  .addNoteOptions {
    display: flex;
    flex-direction: column;
  }
  .closeNotes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
