.headerStyle {
  margin-bottom: 10px;
  margin-top: 0;
}

.headerMargin {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.bottomMargin {
  margin-bottom: 10px !important;
}

.paperStyleSignUP {
  padding: 20px 20px;
  margin: 20px auto;
  border-radius: 10px !important;
  width: auto;
  max-width: 380px;
  min-width: 100px;
}
